@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

* {
  font-family: Poppins !important;
}

.assistant-content a {
  color: blue;
  text-decoration: underline;
}
